@model MF.Theater.UI.ViewModels.PerfomanceViewModel

@{
    ViewBag.Title = "Афиши";
}

<input type="button"/>
@foreach (var perfomance in Model.Perfomances)
{
    <div>
        <h3>@perfomance.Name</h3>
        <p>@perfomance.Description</p>
    </div>
}
