
@{
    ViewBag.Title = "Афиши";
}


@section scripts
{
    <script src="~/Content/Services/PerfomancesService.js"></script>
    <script src="~/Content/Services/PagesService.js"></script>
    <script src="~/Content/ViewModels/IndexPageViewModel.js"></script>
}
<div id="PageBody">

    <ul class="list-inline">
        <li>
            <label for="startDateFilter">Начало</label>
            <input type="text"
                   class="form-control datetimepicker"
                   id="startDateFilter"
                   data-provide="datetimepicker"
                   data-bind="value: PerfomancesFilterParameters.StartDate"
                   data-date-autoclose="true">
        </li>
        <li>
            <label for="endDateFilterDateFilter">Конец</label>
            <input type="text"
                   class="form-control datetimepicker"
                   id="endDateFilter"
                   data-provide="datetimepicker"
                   data-bind="value: PerfomancesFilterParameters.EndDate"
                   data-date-autoclose="true">
        </li>
        <li>
            <label for="nameFilter">Имя</label>
            <input type="text"
                   class="form-control"
                   id="nameFilter"
                   data-bind="value: PerfomancesFilterParameters.Name">
        </li>
    </ul>
        <div data-bind="foreach: Perfomances">
            <h3 data-bind="text: Name"></h3>
            <p data-bind="text: Description"></p>


            <ul class="list-group" data-bind="foreach: PlayPeriods">
                <li class="list-group-item">
                    <ul class="list-inline">
                        <li>
                            <div class="panel panel-primary">
                                <div class="panel-heading">Начало:</div>
                                <div class="panel-body" data-bind="text: StartDate">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="panel panel-primary">
                                <div class="panel-heading">Конец:</div>
                                <div class="panel-body" data-bind="text: EndDate"></div>
                            </div>
                        </li>
                        <li>
                            <div class="panel panel-primary">
                                <div class="panel-heading">количество билетов:</div>
                                <div class="panel-body" data-bind="text: TicketsCapacity"></div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>

            <hr />
        </div>

        <ul class="pagination" data-bind="foreach: PagesArray">
            <li><span data-bind="text: itemIndex, click: $parent.ApplyPage" style="cursor: pointer"></span></li>
        </ul>
</div>



