
@{
    ViewBag.Title = "Афиши";
}


@section scripts
{
    <script src="~/Content/Services/PerfomancesService.js"></script>
    <script src="~/Content/Services/PagesService.js"></script>
    <script src="~/Content/ViewModels/IndexPageViewModel.js"></script>
}
<div data-bind="foreach: Perfomances">
    <h3 data-bind="text: Name"></h3>
    <p data-bind="text: Description"></p>
    <hr/>
</div>

<ul class="pagination" data-bind="foreach: PagesArray">
    <li><span data-bind="text: itemIndex, click: $parent.ApplyPage" style="cursor: pointer"></span></li>
</ul>



